#searchBar {
  margin: 15px 10px;
}


.tableWrapper {
  max-height: 400px;
  overflow: auto;
}

.boxed {
  border: 1px solid black;
  height: 400px;
  width: 500px;
  position: relative;
}

.formBox {
  position: relative;
  left: 100px;
};

.orange {
  background-color: orange;
};

.blue {
  background-color: lightblue;
};